<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            <a href="{{ path('index') }}" class="navbar-brand d-flex align-items-center">
                <strong>Best Videos</strong>
            </a>
        </div>
    </div>
</header>
<section class="jumbotron text-center">
    <div class="container">
        <h1>Best Soccer Videos</h1>
        <p class="lead text-muted">
            The goals and highlights from football leagues and tournaments including
            the Premier League, Champions League, La Liga, Serie A, Europa League and more
        </p>
    </div>
</section>
